{% extends 'base.html' %}

{% set current_page = 'home' %}

{% macro widget_card(card_title) %}
    <div class="col">
        <div class="card user-select-none h-100">
            <div class="card-body">
                <div class="card-subtitle text-muted mb-2">{{ card_title }}</div>
                <div class="card-text">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro spec_widget(card_title, table_headers=["", ""]) %}
    <div class="col">
        <div class="card user-select-none h-100">
            <div class="card-body">
                <div class="card-subtitle text-muted mb-2">{{ card_title }}</div>
                <div class="card-text">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                {% for header in table_headers %}
                                    <th scope="col">{{ header | title }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {{ caller() }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro spec_table(table_headers=["", ""]) %}
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                {% for header in table_headers %}
                    <th scope="col">{{ header | title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {{ caller() }}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block main %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-2">

        {% call widget_card("clock" | title) %}
            <span class="badge fs-1 w-100 bg-TBPrimary font-TBMonospace" id="navbar-time">{% now 'Europe/Zurich', '%H:%M:%S' %}</span>
        {% endcall %}

        {% call widget_card("calendar" | title) %}
            <span class="badge fs-1 w-100 px-lg-1 bg-TBPrimary font-TBMonospace" id="navbar-date">{% now 'Europe/Zurich', '%d.%m.%Y' %}</span>
        {% endcall %}

        {{ hardware.get_widget_html("memory", std_profile) }}
        {{ hardware.get_widget_html("system", std_profile) }}
        {{ hardware.get_widget_html("cpu", std_profile) }}
        {{ hardware.get_widget_html("partitions", std_profile) }}



    </div>
{% endblock %}

{% block custom_script %}
    <script src="{{ url_for("static", filename="js/home.js") }}"></script>
{% endblock %}>